.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
    position: absolute;
    top:8px;
    float: left;
    left: 13px;
    font-size: 15px;
}
.search .fa-times {
    position: absolute;
    top:8px;
    float: right;
    right: 8px;
    font-size: 15px;
}
#image {
    width: 60px;
    height: 30px;
}

.test{
    border: 1px solid; border-radius: 7px
}